#info{
    height: 430px; }
body{
   background: rgba(0,0,255,0.6);
   font-family: "suisse",Arial,Helvetica,sans-serif;
   letter-spacing: 1px;
   line-height: 24px;
   font-size: 18px;
   color: #FFF;}

nav {
    width: 800px;
    margin: 20px 0 20px 0;}
    
nav ul {
            list-style: none;
            margin:0;
            padding:0;
            display: table;
            width: 100%;}
            
nav li {
            z-index:10;
            text-align: center;
            display: table-cell;}
            
nav a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px 0;
            height: 25px;
            line-height: 20px;
            
            text-align: center;}

nav a:active, a:visited, a:hover{
    text-decoration: none;
    border-bottom: 3px solid;
}

.inline{
    
    text-align: right;
    padding-right: 25px;
    
}
section, aside, footer{
    overflow: hidden; }
    
section, aside{
    height: 320px; }

section{
    width: 65%;
    float: right;
    position: relative;}

aside{
    margin-left: 20px;
    float:left;
    width: 25%;
    display: inline;
    position: relative;
    }

footer{
    height: 60px;
    position: relative;
    margin-bottom: 0px;
    display: block;
    width: 100%;}

table{
    width: inherit;}

table tr td{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}