header{
    height: 100px; }


#iframe{
    
    position:absolute;
	z-index: 4;
    left:50%;
    top:50%;
    margin:-180px 0 0 -400px; }

.menu{
    position: relative;
	z-index: 5;
    width: 960px;
    height: 30px;
    margin-left: auto;
    margin-right: auto; }
    
.menu nav {
    margin: 0 auto; }

.menu nav ul {
    margin: 0 auto;
    list-style: none; }

.menu nav ul li {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    display: inline;
    float: left;
    padding: 5px 100px; }

.menu nav ul li a:hover{
    text-decoration: none;
    border-bottom: 3px solid; }

.menu nav a:link, .menu nav a:visited{
	color: black;
        display: inline-block;
	text-decoration: none;
	height: 20px; }

.menu nav ul li a{
	border-radius: 5px; }

.main {
    height: 450px; }
    
.left{
    z-index: 1;
position: absolute;
top: 100px;
left: 40px; }

.top{
    position: absolute;
top: 20px;
left: 400px;
z-index: 3; }
    
.bottom{
    position: absolute;
z-index: 0;
left: 400px;
bottom: 10px; }

.right{
    position: absolute;
z-index: 2;
top: 50px;
right: 50px; }

img {
	cursor: pointer;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

img:hover {
	
    filter: none;
    -webkit-filter: grayscale(0);
	z-index: 6;
}
