header{
    height: 100px; }

#myiframe{
    visibility: hidden;
    position:absolute;
    left:50%;
    top:50%;
    margin:-180px 0 0 -400px; }

#iframe{
    
    position:absolute;
    left:50%;
    top:50%;
    margin:-180px 0 0 -400px; }

#container{
	height: 765px;
	width: 1300px;
    position: relative;}


#mypage, #loader{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;}

#loader{
	top:140px;
	background-color: white;
	z-index: 10;}

.loader{
	position: absolute;
	top:160px;
	left:600px; }
.menu{
    position: relative;
	z-index: 0;
    width: 960px;
    height: 30px;
    margin-left: auto;
    margin-right: auto; }
    
.menu nav {
    margin: 0 auto; }

.menu nav ul {
    margin: 0 auto;
    list-style: none; }

.menu nav ul li {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    display: inline;
    float: left;
    padding: 5px 100px; }

.menu nav ul li a:hover{
    text-decoration: none;
    border-bottom: 3px solid; }

.menu nav a:link, .menu nav a:visited{
	color: black;
        display: inline-block;
	text-decoration: none;
	height: 20px; }

.menu nav ul li a{
	border-radius: 5px; }

.main {
    height: 450px; }
    

