header{
    height: 100px; }


#iframe{
    
    position:absolute;
    left:50%;
    top:50%;
    margin:-180px 0 0 -400px; }

.menu{
    
    width: 960px;
    height: 30px;
    margin-left: auto;
    margin-right: auto; }
    
.menu nav {
    margin: 0 auto; }

.menu nav ul {
    margin: 0 auto;
    list-style: none; }

.menu nav ul li {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    display: inline;
    float: left;
    padding: 5px 100px; }

.menu nav ul li a:hover{
    text-decoration: none;
    border-bottom: 3px solid; }

.menu nav a:link, .menu nav a:visited{
	color: black;
        display: inline-block;
	text-decoration: none;
	height: 20px; }

.menu nav ul li a{
	border-radius: 5px; }
    
table{
    width: 100%;}

table tr td{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}